# Ignore the outputs folder
/+FEPack/outputs/
/+FEPack/resultats_nums/

# Ignore the gmsh folder
/gmsh-4.10.5-Linux64/*

# Ignore meshes
/FEPackmesh.geo
/FEPackmesh.m
/+FEPack/FEPackmesh.geo
/+FEPack/FEPackmesh.m
/+FEPack/pregenMeshes/*

# Ignore xlifepp
/ref_xlifepp/*